body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px ;
    border: 0;
    background-color: #e5e5e5;

}


/* container */
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;

}

/* header */

.header {
    padding: 10px;
    width: 100%;
    font-weight: 700;
    height: 80px;
    background-color: #361665;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
display: flex;

}

.header_inner {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    position: absolute;
    font-size: 27px;
    top: 5px;
    margin-left: 15px;
    left: 150px;

    }

.header_logo_img {
    position: absolute;
    margin-right: 35px;
    width: 50px;
    top: 10px;
    right:-55px;

}

.header_logo_text {
    position: absolute;
    margin-left: 30px;
    top: 3px;
padding: 10px;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url("../images_main/bg.svg") center
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner {
    position: relative;
    margin-top: 100px;
}


.intro_title {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    color: #3BCC98;
    text-align: center;
    margin: 0;
    font-weight: 900;
}


.intro_subtitle {
    text-align: center;
    content: "";
    font-size: 40px;
    font-weight: 700;

    height: 3px;
    margin: 60px auto 60px;
    color: #fff;
    margin: 0 auto;
}


.btn_intro {
    padding: 25px;
    margin:  auto;
    background: #3BCC98;
    width: 161.1px;
    height: 49px;
    position: relative;

    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    cursor: pointer;
}

.slider {
    position: relative;
    top: 80px;
    width: 100%;
    height: 300px;
    background-color:  rgba(0, 0, 0, 0.25);
    margin: auto;

}

.section {
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(56,17,79,1) 52%);
    padding: 40px 0;
}

.section_title {
    color: #3BCC98;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
}


/* main */


.main {
    width: 100%;
    background-color: #361665;
    margin: 0;
    position: relative;
}

.main_title {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    content: "";
    display: block;
    padding: 70px 100px 0 0;
    bottom: 5px;
    width: 570px;
}

.main_subtitle {
    margin-top: 30px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    width: 650px;
    padding-bottom: 30px;
}

.main_img_1 {
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
margin-left: 56%;
    margin-top: 5%;
    width: 600px

}

.main_img_2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
margin-left: 53%;
    margin-top: 25%;
    width: 350px
}

.main_img_3 {
    position: absolute;
    top: 0;
    left: 0;
margin-left: 60%;
    margin-top: 36%;
    width: 250px
}



/* Skills */

.skills {
    padding: 100px 0 100px 0;
    width: 100%;
    background-color: #361665;
    margin: 0;
    position: relative;
}

.skills_subtittle_1 {
    display: block;
    color: #3BCC98;
    font-size: 32px;
    font-weight: 700;
    margin-left: 42%;
    text-align: center;
    margin-bottom: 15px;
}

.skills_text_1 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-left: 50%;
    width: 600px;
    text-align: left;
    margin-bottom: 50px;
}

.skills_subtittle_2 {
    color: #3BCC98;
    font-size: 32px;
    font-weight: 700;
    display: block;
    text-align: center;
    margin-right: 56%;
}

.skills_text_2 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-right: 50%;
    width: 600px;
    text-align: left;
    margin-bottom: 50px;
}


/* visual */

.visual {
    background-size: cover;
    padding: 100px 0 300px 0;
    width: 100%;
    background-color: #361665;
    margin: 0;
    position: relative;
}


.visual_text {
    display: block;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
    width: 500px;
}

.guide {
    padding: 100px 0 100px 0;
    width: 100%;
    background-color: #361665;
    margin: 0;
    position: relative;
}


.visual_icon {
    width: 20%;
    float: left;
}

.visual_icon_title {
    color: #fff;
    font-weight: 700;
font-size: 14px;
}

.visual_icon_text {
    color: #fff;
    font-weight: 700;
font-size: 10px;
    display: flex;
align-items: center;
    margin-top: 34px;
    margin-left: 15px;
}


.visual_color {
    width: 80%;
    float: right;
}

.visual_color_title {
    color: #fff;
    font-weight: 700;
font-size: 14px;
}

.visual_color_text {
    margin-left: 15px;
    margin-top: 34px;
    color: #fff;
    font-weight: 700;
font-size: 10px;
    display: flex;
align-items: center;
}


/* interested */


.interested {
    background-size: cover;
    padding: 200px 0 300px 0;
    width: 100%;
    background-color: #361665;
    margin: 0;
    position: relative;
}

.interested_text {
    color: #fff;
    font-weight: 700;
font-size: 32px;
    display: flex;
align-items: center;
    width: 50%;

}

.btn_interested {
    padding: 25px;
    margin:  auto;
    background: #3BCC98;
    width: 161.1px;
    height: 49px;
    position: relative;

    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
margin-left: 70%;
    margin-top: -3%;
    color: #FFFFFF;
    cursor: pointer;
}

.interested_img {
    position: relative;

    width: 100%;
margin-top:8%;

}
